<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
    <script src="https://unpkg.com/htmx.org@2.0.0"></script>
    <link href="output.css" rel="stylesheet">
    <title>Wanderer</title>
</head>

<body class="bg-white text-slate-800 min-h-screen font-sans">
    <div class="flex justify-center items-center min-w-screen h-16  border-b">
        <h1 class="text-2xl font-black mx-3">Wanderer</h1>
        <div class="relative text-normal hover:text-sky-500 border-b border-x border-x-white border-b-slate-200 hover:border-x-slate-200"
            onmouseenter="toggle_options_dropdown()" onmouseleave="toggle_options_dropdown()">
            <div class="px-20 py-5 bg-white cursor-pointer fold-bold h-16" id="options_drop_down_button"
                onmousedown="toggle_options_dropdown()">
                Go to
            </div>
            <div class="hidden absolute w-full text-center bg-white border-x border-b" id="options_drop_down">
                <div class="hover:bg-slate-100 text-slate-800 p-1">
                    <div hx-get="/profiles.html" hx-target="#content-target" class="cursor-pointer p-1">
                        Profiles
                    </div>
                </div>
                <div class="hover:bg-slate-100 text-slate-800 p-1">
                    <div hx-get="/about.html" hx-target="#content-target" class="cursor-pointer p-1">
                        About
                    </div>
                </div>
                <div class="hover:bg-slate-100 text-slate-800 p-1">
                    <div hx-get="/search.html" hx-target="#content-target" class="cursor-pointer p-1">
                        Search Athletes
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="content-target" class="flex justify-center items-center">
        <div hx-get="/about.html" hx-trigger="load" hx-swap="outerHTML">
        </div>
    </div>
</body>
<script>
    function toggle_options_dropdown() {
        let drop_down = document.querySelector('#options_drop_down');
        drop_down.classList.toggle('hidden');
    }
</script>

</html>
