<div hx-get="/profile?firstname=nicholas&lastname=horton&number_id=1" hx-trigger="click" hx-target="#content-target"
    class="flex p-4 cursor-pointer">
    <div>
        nicholas horton
    </div>
    <div class="text-slate-300 ml-1">
        #1
    </div>
</div>
<div hx-get="/profile?firstname=sally&lastname=schrank&number_id=1" hx-trigger="click" hx-target="#content-target"
    class="flex p-4 cursor-pointer">
    <div>
        sally schrank
    </div>
    <div class="text-slate-300 ml-1">
        #1
    </div>
</div>
